<table class="table table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Last change</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |post|}}
      <tr class="clickable" {{action 'show' post}}>
        <td>{{post.title}}</td>
        <td>{{#link-to 'users.show' post.author}}{{post.author.fullName}}{{/link-to}}</td>
        <td>{{format-time post.updatedAt}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
