<h1>Admin Panel</h1>

<nav>
  <ul>
    <li>{{#link-to 'index'}}Home{{/link-to}}</li>
    <li>{{#link-to 'users'}}Users{{/link-to}}</li>
    <li>{{#link-to 'blog.posts'}}Blog posts{{/link-to}}</li>
  </ul>
</nav>

<div class="container-fluid">
  {{ outlet }}
</div>
